<footer class="page-footer">
	<ul class="ui-helper-clearfix">
		{{#pkg}}<li>Rendered with <a class="name" target="_blank" href="{{url}}">{{name}}</a> version {{version}}</li>{{/pkg}}<!--
		--><li>Third Party <a class="credits" href="/?credits">Credits</a></li>
	</ul>
</footer>