<header class="page-header">
	<div class="right">
		<div class="outer">
			<div class="inner"><!--
				--><span id="status"><span class="icons"></span><span class="vertical-rule"></span></span><!--
				--><a class="button fa fa-home" href="/" title="Home"></a><!--
				-->{{#node_modules}}<!--
					--><a class="button fa fa-gear" href="/?modules" title="Node Modules"></a><!--
				-->{{/node_modules}}<!--
				--><span class="vertical-rule"></span><!--
				--><span id="ls" class="button fa fa-list" title="Toggle Directory Listing"></span><!--
			--></div>
		</div>
	</div>
</header>