<header class="page-header">
	<div class="right">
		<div class="outer">
			<div class="inner"><!--
				--><span id="status"><span class="icons"></span><span class="vertical-rule"></span></span><!--
				--><a id="home" class="button fa fa-home" href="/" title="Home (h)"></a><!--
				-->{{#node_modules}}<!--
					--><a id="modules" class="button fa fa-gear" href="/?modules" title="Node Modules (n)"></a><!--
				-->{{/node_modules}}<!--
				-->{{^generated}}<!--
					--><a id="raw" class="button fa fa-arrow-circle-o-down" href="?raw" title="View Raw File (r)"></a><!--
				-->{{/generated}}<!--
				--><span class="vertical-rule"></span><!--
				--><a id="ls" class="button fa fa-list" href="./?ls" title="Toggle Directory Listing (l)"></a><!--
			--></div>
		</div>
	</div>
</header>