<li><!--
-->{{#url}}<a href="{{.}}" target="_blank">{{/url}}<!--
	-->{{name}}<!--
-->{{#url}}</a>{{/url}}<!--
-->{{#author}} by <!--
	-->{{#url}}<a href="{{.}}" target="_blank">{{/url}}<!--
		-->{{name}}<!--
	-->{{#url}}</a>{{/url}}<!--
-->{{/author}}<!--
-->{{#description}}<!--
--><ul>
	<li>{{.}}</li>
</ul><!--
-->{{/description}}<!--
--></li>